In [30]:
import pandas as pd

In [31]:
df_raw= pd.read_csv('train.csv')
df_raw.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [32]:
pwd

'C:\\Users\\thiag\\repos\\FTC\\dataset'

In [33]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)'],
      dtype='object')

In [34]:
# Realizando cópia do DtaFrame para manipulação:
df = df_raw.copy()
   

#Excluir as linhas com Nan
linhas_vazias = df['Delivery_person_Age'] != 'NaN '
df = df.loc[linhas_vazias,:]

linhas_vazias = df['City'] != 'NaN '
df = df.loc[linhas_vazias,:]

linhas_vazias = df['Road_traffic_density'] != 'NaN '
df = df.loc[linhas_vazias,:]

linhas_vazias = df['Festival'] != 'NaN '
df = df.loc[linhas_vazias,:]


#Conversão de dados da coluna 'Delivery_person_age' de object para int:
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype('int64')

#Conversão de dados da coluna 'Delivery_person_Ratings' de object para float:
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype('float64')

#Conversão de dados da coluna 'Order_Date' de object para datetime:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')

# Remove as linhas da culuna multiple_deliveries que tenham o 
# conteudo igual a 'NaN '
linhas_vazias = df['multiple_deliveries'] != 'NaN '
df = df.loc[linhas_vazias, :]
df['multiple_deliveries'] = df['multiple_deliveries'].astype( 'int64' )


#Remover espaço em branco das colunas ID e Delivery_person_ID:
df.loc[:,'ID'] = df.loc[:,'ID'].str.strip()
df.loc[:,'Road_traffic_density'] = df.loc[:,'Road_traffic_density'].str.strip()
df.loc[:,'Type_of_order'] = df.loc[:,'Type_of_order'].str.strip()
df.loc[:,'Type_of_vehicle'] = df.loc[:,'Type_of_vehicle'].str.strip()
df.loc[:,'City'] = df.loc[:,'City'].str.strip()
df.loc[:,'Festival'] = df.loc[:,'Festival'].str.strip()

#Limpeza de coluna Time Taken
df['Time_taken(min)'] = df['Time_taken(min)'].apply(lambda x: x.split('(min) ')[1])
df['Time_taken(min)'] = df['Time_taken(min)'].astype( 'int64' )

In [35]:
condicoes = df['Weatherconditions'].unique()
for elemento in condicoes:
    palavras = elemento.split()
    if len(palavras) >= 2:  # Verifica se há pelo menos duas palavras
        segunda_palavra = palavras[1]
        print(segunda_palavra)

Sunny
Stormy
Sandstorms
Cloudy
Fog
Windy